.rectangle14{
    position: relative;
     width: 470px;
     height: 300px;
     left: 100px;
     top:270px;
     background:skyblue;
     border-radius: 0px;
 }
 .rectangle15{
    
    position: relative;
     width: 350px;
     height: 400px;
     left: 150px;
     top:-200px;
     background:white;
     border-radius: 0px;
 }
 .rectangle16{
    
    position: relative;
     width: 600px;
     height: 470px;
     left: 570px;
     top:-600px;
     background:white;
     border-radius: 0px;
 }
 .head29
 {
    position:relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(70, 63, 127);
    top:-1070px;
    left:200px;
 }
.rectangle16 p
{
    position:relative;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    top:90px;
}
.head30
 {
    position:relative;
    font-size: 90px;
    color: white;
    top:-1270px;
    left:200px;
 }