
.predict6
{
    position:relative;
    height: 1px;
    left:10px;
    top:10px;
}
.rectangle26
{
    position: fixed;
    height: 500px;
    width:500px;
    background: rgba(8, 8, 8, 0.911);
    box-shadow: 10px 10px 10px black;
    top:40px;
    left:400px;
    backgroundColor: rgba(18, 14, 14, 0.822);
    opacity: 0.7;
}
.head26
{
    font-size: 30px;
    position: relative;
    left:0px;
    top:30px;
    font-family:cursive;
    text-align: center;
    right:200px;
    color:rgb(255, 255, 255);
}
.form26
{
    font-size: 20px;
    position: relative;
    top: 40px;
    border-radius: 50px;
    font-family:'Times New Roman', Times, serif;
    right:-3px;
    color:rgb(3, 3, 3);
    height:10px;
}
input[type=text100]
{
   position:fixed;
    size: 35;
    height:40px;
    font-size: 20px;
    width:300px;
    right:475px;
    top:140px;
    box-shadow: 5px 5px 5px white;
    
}
input[type=text201]
{
   position:relative;
    size: 35;
    height:40px;
    font-size: 20px;
    width:300px;
    right:0px;
    top:20px;
    box-shadow: 5px 5px 5px white;
    
}
input[type=Password]
{
   position:relative;
    size: 35;
    height:40px;
    font-size: 20px;
    width:300px;
    right:0px;
    top:20px;
    box-shadow: 5px 5px 5px white;
    
}
input[type=email1]
{
   position :relative;
    size: 35;
    height:40px;
    font-size: 20px;
    width:300px;
    right:0px;
   top:20px;
   box-shadow: 5px 5px 5px white;
}
.p16
{
    color:white;
    font-size: 30px;
}
.rk6
{
    position: absolute;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    left:240px;
}